
<div ng-controller='showController as meep'>
<div id="poeminput">
<form id="ownpoem">

  <center><div id="title">
  <p>
    <input id="poemtitle" type='text' ng-model='meep.newpoem.title' placeholder="{{meep.Poem.title}}" value="{{meep.Poem.title}}" ></p>
</div></center>

  <div id="first">
  {{meep.Poem.first}} <p><input type="text" ng-model="meep.newpoem.inputone" onkeydown="enter2(this)"/></p>
  </div>

  <div id="second" style="display: none">
  {{meep.Poem.second}} <p><input type="text" ng-model="meep.newpoem.inputtwo" onkeydown="enter3(this)"/></p>
  </div>

  <div id="third" style="display: none">
   {{meep.Poem.third}} <p><input type="text" ng-model="meep.newpoem.inputthree" onkeydown="enter4(this)"/></p>
  </div>

  <div id="fourth" style="display: none">
   {{meep.Poem.fourth}} <p><input type="text" ng-model="meep.newpoem.inputfour" onkeydown="enter5(this)"/></p>
  </div>

  <div id="fifth" style="display: none">
   {{meep.Poem.fifth}} <p><input type="text" ng-model="meep.newpoem.inputfive" onkeydown="enterS(this)"/></p>
  </div>

  <div id="sharebutton" >
    <input type="checkbox" class="checkbox" id="share" onClick="onClick()" ng-click="meep.newSavedPoem(this)" ng-model="meep.newpoem.shared" >
    <label for="share" class="label">Share</label>
      <div class="social">
        <ul>
            <li class="entypo-twitter" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"></li>
           <li class="entypo-facebook" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"></li>
          <li class="entypo-mail" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"></li>
        </ul>
      </div>
  </div>
</form>
<input action="action" type="button" id="back" value="Back" onclick="history.go(-1);" />

</div>


</div>
<script>
var count = 0;
function onClick() {
  count += 1;
  document.getElementById("dacount").innerHTML = count;
  console.log(count)
};
</script>
