  <div id="rightside">
    <div id="bluebox">
      <p>When you're ready:</p>
      1. press <span id="controls" style="text-align: center;" class="intLink" onclick="oTWExample1.play();">ME</span> <br>
      2. Fill in the blank <br>
    </div>
      <input action="action" type="button" id="back" value="Back" onclick="history.go(-1);" />
  </div>

  <div id="poeminput" >
    <div id="first" >
    $he went to the <form><input type="text" onkeydown="enter2(this)"/></form>
    </div>

    <div id="second" style="display: none">
    ++ saw an array of <form><input type="text" onkeydown="enter3(this)"/></form>
    </div>

    <div id="third" style="display: none">
     with a batch job that looked like <form><input type="text" onkeydown="enter4(this)"/></form>
    </div>

    <div id="fourth" style="display: none">
     or the aftermath of CoffeeScript gone kaput && <form><input type="text" onkeydown="enter5(this)"/></form>
    </div>

    <div id="fifth" style="display: none">
     So she knew markup was needed, quickly, from  <form><input type="text" onkeydown="enterS(this)"/></form>
    </div>

    <div id="sharebutton" style="display: none">
      <input type="checkbox" class="checkbox" id="share" onclick=checked>
      <label for="share" class="label">Share</label>
        <div class="social">
          <ul>
              <li class="entypo-twitter" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"></li>
             <li class="entypo-facebook" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"></li>
            <li class="entypo-mail" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"></li>
          </ul>
        </div>
    </div>

  </div>
